.game-features {
  background-image: url("../../assets/m_bg-413c1a11.jpg");
  background-size: cover;
  background-position: 0 0;
}

.game-features-slider .slide-active {
  padding: 8px;
  background-image: url("../../assets/m_game-features-slider-bg.png");
  object-position: 0 0;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.game-features-slider .next-btn {
  background-image: url("../../assets/game-features-arrow-icon.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.game-features-slider .prev-btn {
  background-image: url("../../assets/game-features-arrow-icon.png");
  transform: rotate(180deg);
  background-size: contain;
  background-repeat: no-repeat;
}

.game-features-slider-dot {
  background: url("../../assets/game-feature-slider-dot.png");
  background-size: 100% 100%;
  width: 20px;
  height: 25px;
}

.cloud-1 {
  background-image: url("../../assets/cloud_1-c1390521.png");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  animation: cloud-1-animation 8s ease-in-out infinite;
  background-size: contain;
}

@keyframes cloud-1-animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-35%) translateY(15%);
  }
  100% {
    transform: translateX(0);
  }
}

.cloud-3 {
  background-image: url("../../assets/cloud_3-90d74356.png");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  animation: cloud-3-animation 10s ease-in-out infinite;
  background-size: contain;
}

@keyframes cloud-3-animation {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(-30%);
  }

  100% {
    transform: translateX(0);
  }
}

.cloud-5 {
  background-image: url("../../assets/cloud_5-cc176fcb.png");
  background-position: 100% 100%;
  background-repeat: no-repeat;
  animation: cloud-5-animation 8s ease-in-out infinite;
  background-size: contain;
}

@keyframes cloud-5-animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(30%) translateY(10%);
  }
  100% {
    transform: translateX(0);
  }
}

@media (min-width: 768px) {
  .game-features-slider .slide-active {
    padding: 12px;
  }
  .game-features-slider-dot {
   
    width: 27.5px;
    height: 34.5px;
  }
}
