.overview-section {
  background-image: url("../../assets/bg-overview-mobile.jpg");
  background-position: 0 0;
  background-size: cover;
}

.background-earth {
  background-image: url("../../assets/bg-earth.png");
  background-position: center 0;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.earth-bg-animation {
  animation: spin-animation 50s linear infinite;
}

@keyframes spin-animation {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.play-video-animation {
  animation: scale-animation 2s ease-in-out infinite;
}

@keyframes scale-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.talk-icon-coin {
  background-image: url("../../assets/talk-icon-coin.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: block;
}

.talk-icon-flame {
  background-image: url("../../assets/talk-icon-flame.png");
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: block;
}

.cloud-top-left-1 {
  background-image: url("../../assets/cloud_left_1-efa48996.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  animation: cloud-left-1-animation 10s ease infinite;
}

@keyframes cloud-left-1-animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(22%);
  }
  100% {
    transform: translateX(0);
  }
}

.cloud-top-left-2 {
  background-image: url("../../assets/cloud_top-c0b8e637.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: cloud-top-left-2-animation 10s ease infinite;
}

@keyframes cloud-top-left-2-animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(20%);
  }
  100% {
    transform: translateX(0);
  }
}

.cloud-middle-left-1 {
  background-image: url("../../assets/cloud_middle-0c6d4d20.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: cloud-middle-left-1-animation 5s linear infinite;
}

@keyframes cloud-middle-left-1-animation {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(5%);
  }
  65% {
    transform: translateX(-10%);
  }
  100% {
    transform: translateX(0);
  }
}

.cloud-right-1 {
  background-image: url("../../assets/cloud_right-53abd4d0.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  animation: cloud-right-1-animation 8s ease infinite;
}

@keyframes cloud-right-1-animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(15%);
  }
  100% {
    transform: translateX(0);
  }
}

.bg-nav-menu-mobile {
  background-image: url("../../assets/m_menubg-09d6d333.jpg");
  background-repeat: repeat;
  background-size: cover;
}
